#home-landing {
  ion-content {
    // --background: #fff url(./background.jpg) no-repeat center center / cover;

    border-top: env(safe-area-inset-top) solid white; // fill in the gap between the logo and the top bar
    --overflow: hidden;

    &::part(background) {
      filter: blur(2px) brightness(93%);
    }
  }
}
