.DS_Store
.idea
.sass-cache
.env*
*.patch
.vscode
**/*pyc
.vercel
karma-chrome
node_modules/
dist/
cordova/
build/
/components
/resources
/backend
!.env.example
coverage
.nowbuild
.now
.npm-debug.log
.gradle