#suggestions .search-result {
  position: relative;
  padding: 8px 8px 8px 15px;
  overflow: hidden;
  font-size: 16px;
  --background: none;
  padding: 0;

  &.recorded {
    opacity: 0.5;
  }

  &:nth-child(odd) {
    border: 1px solid #efefef;
    border-radius: 15px;
    background-color: #fdfdfd;
  }

  &:hover {
    background-color: var(--ion-color-light);
  }

  button {
    right: 0;
    border: none;

    background-color: transparent;
    width: 20%;
    max-width: 80px;

    //left line
    &:after {
      position: absolute;
      bottom: 9px;
      left: 0;
      background: var(--ion-color-light-shade);
      width: 1px;
      height: 63%;
      content: '';
    }
  }

  button.edit-shortcut {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 20px;
    height: 47px;
  }

  span.group {
    position: absolute;
    right: 22%;

    bottom: -2px;
    color: var(--ion-color-dark);
    font-weight: 200;
    font-size: 14px;

    &.right {
      right: 2%;
    }
  }

  @media only screen and (min-width: 400px) {
    span.group {
      right: 90px;
    }
  }

  &.selected {
    background-color: var(--ion-color-light-shade);

    button {
      border-left: 1px var(--ion-color-medium) solid;
    }
  }

  &:hover {
    cursor: pointer;
  }
}
