@import '../../../common/styles/_variables';

#add-species {
  color: $header-color;
}

#taxa-list {
  border-color: $color-blue-light;

  .media-body {
    font-size: $text-font-size;

    .common-name {
      font-weight: bold;
    }

    .scientific-name {
      font-style: italic;
    }

    .abundance {
      float: right;
      margin: 0 10px;

      font-size: $text-font-size - 2;

      &.error {
        color: $color-orange;
      }
    }
  }
}
